<!-- NavBar area -->
<app-navbar />

<div [ngClass]="{ 'blur-background': isEditing || isDeleting }">
  <div class="d-flex justify-content-center flex-column">
    <div class="container p-3">
      <!-- <form #myForm="ngForm"> -->
      <app-task-form (addTask)="onAdd($event)" />

      <!-- table to show todo app data  -->
      <app-task-list
        *ngIf="taskObject.length"
        [tasks]="taskObject"
        (deleteTask)="handleDelete($event)"
        (editTask)="handleEdit($event)"
        (removeAllTask)="removeTask()"
      />
    </div>
  </div>
</div>
<div>
  <app-task-modal
    *ngIf="isEditing || isDeleting || isRemovingAll"
    [task]="editTask || deleteTask"
    [isEditing]="isEditing"
    [isDeleting]="isDeleting"
    [isRemovingAll]="isRemovingAll"
    (delete)="onDelete()"
    (save)="saveEdit($event)"
    (close)="closeModal()"
    (removeAll)="deleteAllData()"
  >
  </app-task-modal>
</div>

